<?xml version='1.0' encoding='utf-8'?>
<plugin id="avshek.apiData" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>apiData</name><js-module name="apiData" src="www/apiData.js"><clobbers target="cordova.plugins.apiData" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="apiData"><param name="android-package" value="avshek.apiData.apiData" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/apiData.java" target-dir="src/avshek/apiData/apiData" /></platform></plugin>